/* site header */
#navbar .navbar-inner{background:#cae1f3;padding-bottom:0}
#navbar .brand img {height:auto}
#navbar .nav{background:#F59540;width:100%}
#navbar .nav > li > a {color:#fff;text-shadow: 0 1px 0 #aaa;margin:0 0 -5px}
#navbar li a.active{background-color: rgb(255, 255, 255);color: rgb(51, 51, 51);}

/* page-specific header */
#header h1{font-size:24.5px}

/* typography tweaks */
h2{font-size:18.5px}