
/* general html */
menu, ol, ul, .item-list ul{}

/* Merge Bootstrap styles back in */
#crm-container fieldset legend {
  display: block!important;
  width: 100%!important;
  padding: 0!important;
  font-size: 17px!important;
  line-height: 32px!important;
  color: #333!important;
  border: none!important;
  font-weight: bold!important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
}
.icon{
  color:#2786C2;
}


/* layout */
#main #content {
  margin-top: 0;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 98.6%;
}
.front .sidebar{
  margin-top: 15px;
}
.one-sidebar.sidebar-first #content{
  padding-left:30px;
}
.region-masthead{
  margin-top: 15px;
  float: right;
}
.region-navigation{
  position: relative;
  z-index: 10;
  float: left;
}

/* replace JQuery UI icons */
/* to override jqueryui icons for font icons */
[class^="icon-"],
[class*=" icon-"] {
  background: none !important;
  background-image: none !important;
  text-indent: 0 !important;
  padding: .2em 0 0 .2em !important;
}

/* general form tweaks */
.form-item .description {max-width: 660px;}
.resizable-textarea textarea {width: 100%;}
.form-item-timezone select{width: auto;}

/* messages/alerts */
.messages.alert{
  margin: 0 0 20px!important;
  border: 1px solid #FBEED5;
  max-width:660px;
}
.alert-info {
  color: #3A87AD!important;
  background-color: #D9EDF7!important;
  border-color: #BCE8F1!important;
}

/* some typography */
.page-header #page-title{
  font-size:28px;
  font-weight: normal;
  margin-top: 28px
}

/* site header */
#logo{
  margin: 10px 0 5px 10px;
}
#logo a{
}
#logo img{height:auto;max-width:100%;}

#navbar .navbar-inner{
  padding-bottom:0;
  background-color:#C7E3F8; /* cae1f3 */
  background-image: -webkit-linear-gradient(top, #C7E3F8, #EDF6FC);
  background-image: -moz-linear-gradient(top, #C7E3F8, #EDF6FC);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#C7E3F8), to(#EDF6FC));
  background-image: -webkit-linear-gradient(top, #C7E3F8,#EDF6FC);
  background-image: -o-linear-gradient(top, #C7E3F8,#EDF6FC);
  background-image: linear-gradient(to bottom, #C7E3F8,#EDF6FC);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffC7E3F8', endColorstr='#ffEDF6FC', GradientType=0);
}
.navbar .btn-navbar {position: absolute;right: 0;top: 70px;}
#navbar .container{position:relative}
#navbar .brand{height:86px;padding:15px 20px 0 30px;display: block;overflow: hidden;}
#navbar .brand img{height:96px;width:551px}
#search-block-form{margin-bottom: 5px}
#search-block-form .form-actions{
  padding: 0;
}
#search-block-form .form-submit{margin-bottom:6px;color:#5E83A8;background: #F0F5FA}
#edit-search-block-form--2{background: #fafafa}
#block-search-form{margin:-2px 0 0;float:right}
#navbar #block-user-login{position: relative;float: right;}
#block-search-form div{display: inline!important;float:left;}
#block-search-form .form-item-search-block-form{margin: 5px 2px 0 0;}
#block-search-form form{margin: 0 15px 0 0}
#block-user-login form{margin:0}
#block-user-login .btn{margin: 0}
.admin-menu #block-search-form{margin-top:0;}
#header{background: #fff;border:none;padding: 0}
#main{padding-top:10px;}
.block-service-links{float: right;margin:3px 0 0;position: relative;}
#toboggan-login-link{padding-top:7px;padding-bottom: 7px;font-size:13px;}
#gplus-wrapper{display: inline;}
.block-service-links h2{display: none;}
.block-service-links ul{margin: 0;padding: 0}
.block-service-links li{display: inline;margin: 0;padding: 0}

/* user menu (after login) */
#block-system-user-menu {float:right;margin:0;clear:both;}
#block-system-user-menu a{margin: 0 !important;}
#block-block-6{margin:0;float: right;padding: 10px 10px 0;}
.logged-in #navbar #block-service-links-service-links,
.logged-in #navbar #block-service-links-service-links-not-node{margin-right: 0}/* move social icons to the right after login */
.navbar #block-system-user-menu .nav {margin: 0;padding:0;}

/* main nav menu */
ul.nice-menu-down li,.nav-tabs > li {
  margin-bottom: -6px;
}
.navbar .nav > li > a {padding-bottom: 5px;margin-bottom: 5px;text-shadow:none;}
#navbar #block-nice-menus-1 .nav{background:transparent;margin:20px 0 0 15px;}
.logged-in #navbar #block-nice-menus-1 .nav{margin-top: 10px}
#navbar #block-nice-menus-1 li a.active{background-color:#fff;color:#565656;border-radius:3px 3px 0 0;border: none;padding-bottom: 10px;margin-bottom: 0;
  -moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-webkit-box-shadow: inset 0 1px 1px #ccc;
-moz-box-shadow: inset 0 1px 1px #ccc;
box-shadow: inset 0 1px 1px #ccc;}
#navbar #block-nice-menus-1 li a:hover{background-color:#f79533;color:#fff;}
.block-nice-menus .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border:1px solid #ddd;
  min-width: 190px;
}
ul.nice-menu ul.dropdown-menu li {
  width: auto;
  min-width: 160px;
}
ul.nice-menu li,ul.nice-menu-down li.menuparent{
  border: none;
  background: transparent;
}
ul.nice-menu-down ul {
  top:40px;
}
.dropdown-menu li > a {
  padding: 7px 20px!important;
  min-width: 160px;
}
.navbar .nav li.menuparent > a .caret {border-top-color: rgb(119, 119, 119);border-bottom-color: rgb(119, 119, 119);}
.navbar .nav a .caret {margin-top: 8px;}
.nav .dropdown-toggle .caret {margin-top: 6px;border-top-color: rgb(0, 136, 204);border-bottom-color: rgb(0, 136, 204);}
.menuparent .caret {margin-top: 8px;margin-left: 2px;}
#navbar #block-nice-menus-1 li ul a:hover{
  background-color:#888;
  color:#fff;
  text-shadow:0 1px 0 #bbb;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
}
ul.nice-menu-down li.menuparent:hover {background: none;}

/* breadcrumb */
.breadcrumb {padding: 8px 15px;margin: 0 0 20px;background-color: #f5f5f5;}

/* slideshow */
#block-views-front-slideshow-block{display: none;}
#block-views-front-slideshow-block img{
  margin:0 auto;
  display: block;
}

/* front page */
.front #main #content{
  padding:0;
}
.front .node-1173 .links.inline{
  display: none;
}
#block-block-8{
  margin:15px 2%;
  padding:2px 15px;
  border: 1px solid #E2F2F8;
  border-radius: 4px;
  background-color: #E2F2F8;
  background-image: -moz-linear-gradient(#F5FBFF, #E2F2F8);
  background-image: -webkit-linear-gradient(#F5FBFF, #E2F2F8);
  background-image: linear-gradient(#F5FBFF, #E2F2F8);
}
#block-block-8 h2{
  color: #666;
  margin: 6px 0 3px;
  font-size:18px;
}
#block-block-8 p{
  margin: 0 0 10px
}
#block-block-8 img{
  float: right;
  height: auto;
  margin-left: 15px;
  margin-top: -15px;
}
#block-views-cevent-base-block-2{
  float: left;
  margin: 15px 2.5%;
  padding:0 10px;
}
#block-views-cevent-base-block-2 h2{
  color: #F79533}
#twitter-widget-1{
  min-width: 100px !important;
}
#crm-event-block{
  clear: both;
  float: left;
  padding:20px 0 10px;
}
#crm-event-block p{
  float: left;
  width:167px;
  padding:0;
  margin:0 5.25% 15px 0;
  height:135px;
}
.front #block-block-3,
.front #block-views-most-recent-blog-post-block{
  padding: 12px;
  border: 1px solid #dedede;
  border-radius: 4px;
  background-image: -moz-linear-gradient(#eff2fc, #f9f9f9);
  background-image: -webkit-linear-gradient(#eff2fc, #f9f9f9);
  background-image: linear-gradient(#eff2fc, #f9f9f9);
}
.front #block-block-3{
  background-color: #F2F2F2;
  background-image: -moz-linear-gradient(#f2f2f2, #efefef);
  background-image: -webkit-linear-gradient(#f2f2f2, #efefef);
  background-image: linear-gradient(#f2f2f2, #efefef);
}
.front #block-block-3 h2,
.front #block-views-most-recent-blog-post-block h2{
  color: #666;
  font-size: 18px;
}
#crm-event-block p em{
  display: none}
.front #block-views-most-recent-blog-post-block{
  background: #EFF2FC;
}
.front #sidebar_second{
}
.front #block-block-3 ul{
  padding: 0 5px 20px 5px;
  margin: 0;
}
.front #block-block-3 li{
  list-style: none;
  margin: 0 0 10px 12px;
  padding: 5px 0;
  text-indent: -22px;
}

/* login button */
#toboggan-login-link{background-color: #003769;background-image: -moz-linear-gradient(top, #4f7ab9,#003769);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4f7ab9), to(#003769));
  background-image: -webkit-linear-gradient(top, #4f7ab9,#003769);
  background-image: -o-linear-gradient(top, #4f7ab9,#003769);
  background-image: linear-gradient(to bottom, #4f7ab9,#003769);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4f7ab9', endColorstr='#ff003769', GradientType=0);
  border-color: #003769 #003769 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #003769;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

/* login container */
#toboggan-container{}
#toboggan-container div.user-login-block{text-align:left;position:absolute;right:-2px;z-index:1000;
  background:#f9f9f9;padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;
  border:1px solid #DDD;box-shadow:0 0 9px #ddd;-moz-box-shadow:0 0 9px #ddd;-webkit-box-shadow:0 0 9px #ddd;margin-top:2px}
  #toboggan-login label{color: #666}
#toboggan-login ul{margin:55px 0 0;float: right;}
#toboggan-login li{list-style:none;padding:0;text-align: right;}
#toboggan-login a:hover{background-color:transparent!important;color:#005580!important}
#toboggan-login #edit-actions{position: absolute;}
#toboggan-login #edit-actions #edit-submit{margin-top:10px;}
#block-user-login #edit-actions--2{position: absolute;}
div.toboggan-login-link-container {width: 140px;text-align: right;}

/* page-specific header */
#header h1{font-size:24.5px}
.front .page-header{display: none;}

/* typography tweaks */
h1,h1.title, h2.node-title,{font-size:32px;color:#595959;margin-top:30px;}
h2{font-size:18.5px}

/* admin view */
body.admin-menu{}
#block-system-user-menu h2{display: none;}

/* CiviCRM general mods */
#crm-container tr {font-size:1em;}

/* CiviCRM events calendar */
.page-events-month.sidebar-second #content{width: 77%}
.page-events-month.sidebar-second .region-sidebar-second {width: 23%}
.page-events .page-header{padding-bottom: 0;margin-bottom: 10px}
.view-id-civicrm_events.view-display-id-page .pager{margin: 0}
.view-id-civicrm_events.view-display-id-page .calendar-calendar .view-item-civicrm_events{padding:2px;}
.calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.single-day div.weekview, .calendar-calendar .day-view .full td.single-day div.dayview {
background: #fff;}
.calendar-calendar .month-view .full td.single-day .inner div.alert
.calendar-calendar .week-view .full td .inner div.calendar.weekview div.alert{
  padding: 8px;
  background-color: #178ACC !important;
  border: 1px solid #EFB99E;
  color:#fff;
  text-shadow:none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.view-id-civicrm_events.view-display-id-page .calendar-calendar .view-item-civicrm_events .contents a{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  padding:3px;
}
.view .date-nav-wrapper .date-nav {margin: 0}
.view .date-nav-wrapper .date-prev,.view .date-nav-wrapper .date-next{background-color: transparent;
  border-radius: 0;-moz-border-radius:0;-webkit-border-radius:0;}
.view .date-nav-wrapper .date-prev{right:auto;left:0;}
.calendar-calendar div.calendar {font-size: .95em}
.calendar-calendar .month-view .full tr td.today{border-left: 1px solid #ccc;border-right: 1px solid #ccc;background: #ffffcc}
.calendar-calendar .month-view .full td.date-box.today {border-width: 1px 1px 0 1px;border-style: solid;border-color: #ccc;}
.calendar-calendar .month-view .full tr td.single-day.today{border-bottom: 1px solid #ccc}
#block-views-civicrm-events-block-2{margin:60px 0 0 10px}
.upcoming-date-wrapper{
text-align: right;
display: inline-block;
border-left: 4px solid #EEE;
padding-left: 5px;
float: left;height: 41px;
width: 50px;
font-size: 16px;
margin-right: 10px;}
.upcoming-date-title{margin: 0 0 10px 90px;}
.view-display-id-block_2 ul{margin: 0;padding: 0}

/* CiviCRM individual event display */
.crm-section{
  }
  .crm-accordion-wrapper{
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: whiteSmoke;
  border: 1px solid #E3E3E3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#block-block-7 h2{
  line-height: normal;
}
.event_description-section,.event_summary-section{
  background-color: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#crm-event-info-wrapper .row{
  margin-left: 0;
}
.crm-register-button{color:#fff!important;}
.crm-section{padding:0;}
#crm-container div#printer-friendly {margin: -1.25em 0.5em 0 0;font-size: 24px;}
#crm-container .crm-event-info-form-block table.no-border .section-shown{padding: 0}
#crm-container .crm-section div.label{text-align: left;padding: 10px;color:#3a87ad;background: #D9EDF7;}
#crm-container .crm-section div.content{padding:10px;margin-left: 0}
.crm-accordion-header {border: 1px solid #2d5d96;padding: 9px;}
.crm-accordion-open>.crm-accordion-body{border: 1px solid #e3e3e3;background: #f4f4f4;padding:15px 15px 5px;}
#crm-container .crm-info-panel{margin:0 0 10px;border:none;}
#crm-container .crm-accordion-body .crm-info-panel td.label{display: table-cell;padding: 10px;font-size: 1em;
  color:#3a87ad;background-color: #D9EDF7}
#crm-container .crm-accordion-body .crm-info-panel td.html-adjust{color:#555;border:none;padding: 10px;
  background: transparent;}
#crm-container td.price_set_option-label {
  padding-left: 0;
}
.price_set_option-label{
  padding:0;
}
.event-info table{
  max-width:660px;
}

#crm-container .iCal_links-section{font-size: 24px;clear: both;float: left;margin: -10px 0 10px}
.iCal_links-section a{float: left;margin-right: 10px}
.iCal_links-section a.icon-calendar{display: block;width:25px;height: 25px}
.iCal_links-section .icon-calendar img{display: none;}
.iCal_links-section img{width: 40px;height: 18px;display: block;margin: 10px 0 0}


/* CiviCRM Social Links */
#crm-container .help {background-color:#D9EDF7;}
#crm-container .crm-socialnetwork{width:350px;border: none;padding:15px;float: left;margin: 10px 0 0;clear: both;}
#crm-container .crm-socialnetwork h3{padding: 0 0 6px 2px}
#crm-container .crm-socialnetwork .description{display: none;}
.crm-socialnetwork .label{display: block;background: transparent;float: none;width: auto;}


/* book navigation */
.book-nav-horizontal .well{margin:10px 30px 40px;float: left;}
.book-nav-horizontal .nav{margin: 0;padding: 0}
.book-nav-horizontal .pager-wrapper{margin:45px 0 0 25px;clear: both;}
#block-book-navigation h2{line-height: 30px;margin-left:-5px;margin-bottom: 5px}
#block-book-navigation ul.nav li {padding: 0;margin: 0 ;text-indent: -28px}
#block-book-navigation li [class^="icon-"],#block-book-navigation .nav li [class^="icon-"],
#block-book-navigation li [class*=" icon-"],#block-book-navigation .nav li [class*=" icon-"] {width:1.75em;}
#block-book-navigation .nav{margin: 0 0 0 15px;padding: 0}
#block-book-navigation .nav .nav{margin: 5px 0 10px 18px}
#block-book-navigation li{list-style: none!important;}
#block-book-navigation li a.active {color: #474747;display: inline;}
#block-book-navigation .nav > li > a {display: inline;}
.node-type-book .pager{padding: 0}
#book-internal-nav a{max-width:175px;overflow: hidden}

/* book content */
#content .node-book .field-name-body{min-height:300px;}
.node-type-book #content h1, .node-type-book #content .region-content{margin-left: 10px}


/* blogs */

.tagclouds-term{
  float: left;
  margin:0 10px 15px 0;
}
#block-tagclouds-2 .more-link{
  clear: both;
}
.node .submitted, article .submitted {
  margin:0 10px 20px 20px;
}
article.node-teaser {
  max-width: 700px;
}
.section-blog .node-teaser .submitted{width:150px;}
.blog-teaser p{margin:12px 0 0;}


/* training list */

.view-id-cevent_base .item-list ul{
  margin-left: 0;
  padding: 0
}
.view-id-cevent_base li{
  float: left;
  width: 98%;
  clear: both;
  padding: 8px!important;
  margin:0!important;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.view-id-cevent_base .views-row-odd{
  background-color: #f9f9f9;
}
.view-id-cevent_base .views-field-title{
  float:left;
  margin:0 10px 0 0;
  font-weight: bold;
  max-width: 81%
}
.view-id-cevent_base .views-field-event-type{
  float: right
}
.view-id-cevent_base .views-field-start-date,
.view-id-cevent_base .views-field-friendly-date-6{
  clear: both;color:#575757;
}
.view-id-cevent_base .views-field-summary p{
  margin: 0;
}
#block-menu-menu-training-menu ul{
  padding: 10px 0 0
}
#block-menu-menu-training-menu li{
  margin: 0 2px 10px
}

/* Training event labels */
.views-field-event-type .Online,
.calendar-calendar .month-view .full td.single-day .inner div.Online,
.calendar-calendar .week-view .full td .inner div.calendar.weekview div.Online{
  background-color: #178ACC !important;
  font-weight: normal;
  color:#fff;
  text-shadow:none;
  padding:3px;
}
.views-field-event-type .Webinar,
.calendar-calendar .month-view .full td.single-day .inner div.Webinar,
.calendar-calendar .week-view .full td .inner div.calendar.weekview div.Webinar{
  background-color: #F1CEAB !important;
  color: #DD5600 !important;
  font-weight: normal;
  text-shadow:none;
  padding:3px;
}
.views-field-event-type .Webinar a,
.calendar-calendar .month-view .full td.single-day .inner div.Webinar a,
.calendar-calendar .week-view .full td .inner div.calendar.weekview div.Webinar a{
  color: #DD5600 !important;
  text-shadow:none;
  padding:3px;
}

/* sidebar */
.well ul{margin:0 0 10px;}
#sidebar_first .nav,#sidebar_second .nav{
  padding: 0
}

/* Twitter panel */
#block-block-5 .ext{
  display: none;
}

/* Account registration */

form#Register .label{
  width: auto!important;
  margin: 5px 10px 0 0;
}
form#Register select{
  width:auto;
}
#user-register-form .crm-section .content {
  margin:0;}
#profilewrap14 fieldset{margin:0;padding: 0
}
#profilewrap14 legend{display: none}
#profilewrap14 .messages{position: absolute;left:300px;top:5px;margin:0;width: 65%;font-size: 12px}
#profilewrap14 .messages p{margin: 0}
#user-register-form .form-item{margin:12px 0 0;position: relative;}
#edit-field-user-biography{margin-top: 50px}
#user-register-form .form-item .description{position: absolute;left:300px;top:5px;width: 65%}
#user-register-form #field-user-biography-add-more-wrapper{max-width: 660px}
#user-register-form #edit-timezone{margin: 25px 0 0;padding: 0}
#user-register-form #edit-timezone legend a,#user-register-form #edit-timezone legend a:hover{
  color: #333;font-size: 14px;font-weight: bold;text-decoration: none;}
#user-register-form #edit-timezone legend span{padding: 0}
#user-register-form #edit-timezone .fieldset-wrapper{padding: 0}
#user-register-form #edit-timezone .description{top:63px;}
#user-register-form .form-actions{padding: 0;margin-top: 46px}

/* Event displays - sidebars */
#crm-quick-create label{
  margin-top: 10px;
}

/* Event registration */
#noOfparticipants{
  margin: 0!important;
}
#noOfparticipants .content{
  margin: 0 0 0 4px !important;
}
#noOfparticipants .description{
  display: block;
  margin: 10px 0 0;
  max-width:500px;
}

/* primary tabs */
#page-tabs{
  padding: 0
}
#page-tabs li{
  display: inline;
  margin:0;
  padding: 0;
  list-style: none;
}
.btn-group > li:first-child .btn{
  margin-left: 0;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}
.btn-group > li .btn{
  margin-left: -1px;margin-right:0;
}
.btn-group > li .btn{
  font-size: 14px;
}
.btn-group > li .btn {
  position: relative;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > li:last-child .btn{
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;}

/* footer */
#footer{
  margin-top: 35px
}
#footer .container{
  border-top: 1px solid #ddd;
  padding: 20px 0 0
}
#block-nice-menus-2{
  margin: 0
}
  #footer #block-block-1{
}
#footer p{
  margin:0;
  padding:0.3em 0;
}


/* blogs theming */
.field-name-field-blog-tags,.field-name-field-blog-categories {
  float: left;
  width: 100%;
  margin: 10px 0 20px;
}
 .field-name-field-blog-tags .field-label,.field-name-field-blog-categories .field-label {
  font-weight: normal;
  font-size: 17px;
  margin: 8px 0;
}
.field-name-field-blog-tags .field-item a,.field-name-field-blog-categories .field-item a{
  display: block;
  float: left;
  margin: 2px 5px 5px 0;
  padding: 6px 8px;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #2D6987;
}

@media (min-width: 1200px) {
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .front #main #content{
    padding:0 .3%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 979px) and (min-width: 768px){
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: auto;
  }
}
@media (max-width: 767px) {
  body{font-size: 13px}
  #logo img{height:60px;}
  #logo{margin: 10px 5px;clear: both;}
  #navbar #block-user-login {margin-bottom: 0}
  #navbar #block-nice-menus-1 .nav {margin: 0}
  .region-masthead {margin: 5px;float: none;}
  .region-navigation {float: none;
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  }
  #block-search-form {float: left;}
  #edit-search-block-form--2 {width: auto;min-width: 145px;}
  .region-masthead .block-service-links{display: none;}
}
/* Landscape phones and down */
@media (max-width: 480px) {
  #block-search-form form {margin: 0}
}
