/* site header */
#navbar .navbar-inner{background:#cae1f3;padding-bottom:0;}
#navbar .container{position:relative}
#navbar .brand img{height:96px;width:551px}
#navbar .nav{background:#F59540;width:100%;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0}
#navbar .nav > li > a{color:#fff;text-shadow:0 1px 0 #aaa;margin:0 0 -5px}
#navbar li a.active{background-color:#f5f5f5;color:#565656;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
#navbar li a:hover{background-color:rgb(0, 136, 204);color:#fff;text-shadow:0 1px 0 #bbb;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
#edit-submit--2{margin-bottom:6px}
#block-search-form{margin:36px 1px -30px 0;float:right}

/* login container */
#toboggan-container{text-align:left;position:absolute;right:4px;top:5px;}
#toboggan-container div.user-login-block{text-align:left;position:absolute;right:-8px;z-index:1000;background:#f9f9f9;padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #DDD;box-shadow:0 0 9px #ddd;-moz-box-shadow:0 0 9px #ddd;-webkit-box-shadow:0 0 9px #ddd;margin-top:2px}
#toboggan-login ul{margin:0}
#toboggan-login li{list-style:none;padding:0;}
#toboggan-login a:hover{background-color:transparent!important;color:#005580!important}

/* page-specific header */
#header h1{font-size:24.5px}

/* typography tweaks */
h2{font-size:18.5px}